@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --header: linear-gradient(to right, #880606, #ff8207);
    --main: #fcfcfc;
    --gabriel: black;
}
body{
    height: auto;
    width: auto;
}
.container{
/*    width: 1080px; */
    padding: 0 0%;
    margin: 0 auto;
}
.background1{
    background: var(--header);
    padding: 0 5%;
}
.background2{
    background: var(--gabriel);
    height: 100%;
    padding: 0 5%;
}
.background3{
    background: var(--header);
    padding: 0 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 40px;
}
.logo{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.logo a{
    color: white;
    font-size: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}


main{
    padding-bottom: 35px;
}
main .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 14%;
}
main .container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    padding-top: 65px;
    padding-bottom: 30px;
}
main .container3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}
/* .main-text{} */
.main-label{
    padding: 0 7%;
    color: white;
    text-align: justify;
}
.main-text h1{
    color: white;
}
.main-text h2{
    color: white;
}
.main-img img{
    width: 600px;
}



/* footer{} */
.logofooter{
    color: white;
    height: 90px;
    padding-top: 0px;
    padding-bottom: 50px;
}
.logofooter a{
    color: white;
    font-size: 25px;
}
.lowfooter{
    width: 100%;
    display: flex;
}
.d{
    width: 10%;
}
.llowfooter{
    padding: 20px 0;
    width: 30%;
    text-align: center;
}
.llowfooter ul{
    list-style: none;
    display: inline;
}
.llowfooter h4{

    text-decoration: none;
    color: white;
    font-size: 25px;
}
.llowfooter h5{

    text-decoration: none;
    color: white;
    font-size: 20px;
}

.llowfooter ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.llowfooter ul li label{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

@media screen and (max-width: 1020px){
    nav ul{
        display: none;
    }
    main .container{
        padding: 120px 0%;
        display: block;
        text-align: center;
        justify-items: center;
    }
    main .container2{
        padding: 30px 0%;
        display: block;
        text-align: center;
        justify-items: center;
    }
    .main-text h1{
        font-size: 30px;
    }
    .main-img img{
        width: 400px;
    }
    .main-label h2{
        font-size: 20px;
    }
    .lowfooter{
        display: block;
        justify-items: center;
    }
    .logofooter{
        display: none;
    }
    .d{
        width: 0;
    }
    .llowfooter{
        width: 400px;
        
    }
    .llowfooter h5{
        font-size: 20px;
    }
    .llowfooter ul li a{
        font-size: 18px;
    }
    .llowfooter ul li a{
        font-size: 18px;
    }
    .llowfooter ul li label{
        font-size: 18px;
    }
    main .container2 .main-label h1{
        font-size: 20px;
    }
    main .container2 .main-label h2{
        font-size: 20px;
    }
}